openapi: 3.0.3
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV - Valentino Lauciani
    url: http://terremoti.ingv.it/webservices_and_software
  description: "  \n\n  # Introduction\n  Dante is an API Web Service used for iteract\
    \ with earthquake data stored in database (**quakedb**); the **quakedb** database\
    \ schema is used at INGV.\n  Use other schema would require cration of specific\
    \ `Model` and `Controller` but this is the potential of web services.  \n\n  Dante\
    \ provides a set of routes to store message **event**, **origin**, **magnitude**,\
    \ **arrival**, **...**.  \n\n  # Input\n  As input, Dante acept:\n  - A `json`\
    \ message (view '**store**' spec below) \n  - An Eartworm `json` message (view\
    \ '**earthworm api**' spec below) produced by **ew2openapi** module  \n\n  # Output\n\
    \  As output, Dante has a RESTful api foreach database table and implement three\
    \ specific routes: \n  - `events-group`: returns the preferred origin and the\
    \ preferred magnitude from all clusterd events. \n  - `events`: returns the preferred\
    \ origin and the preferred magnitude from the same instance. \n  - `event`: returns\
    \ the full event (event, origins, magnitudes, arrivals, amplitude, etc...) from\
    \ an **eventid** or **originid**/**originid**. \n  \n\n  "
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  termsOfService: https://data.ingv.it/docs/principles/
  title: Dante Web Services
  version: 2.79.0-dev
  x-api-id: 24e1e2e6-43ad-4a84-bec7-5c6ddcf5db97
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: Web Service to receive location from Earthworm or JSON standard
  x-sandbox: true
servers:
- description: production
  url: http://caravel.int.ingv.it/api
  x-sandbox: true
- description: development
  url: "http://{hostname}/api"
  variables:
    hostname:
      default: localhost:8585
      enum:
      - localhost:8585
      - caravel.int.ingv.it:8585
  x-sandbox: true
tags:
- description: Operations about user
  name: user
- description: Get data
  name: get
- description: Store data
  name: store
- description: Update data
  name: update
- description: Delete data
  name: delete
- description: Earthworm API to store data
  name: earthworm api
paths:
  /login:
    post:
      description: Logs user into the system and retrieve Bearer Token
      operationId: get_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_token_request'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_token_201_response'
          description: successful operation
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Logs user into the system
      tags:
      - user
      x-content-type: application/json
      x-accepts: application/json
  /status:
    get:
      description: Return the application status
      operationId: get_status
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ObjectStatus'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Return the application status
      tags:
      - get
      x-accepts: application/problem+json
  /quakedb/v1/events-group:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from all clusterd events.
      operationId: getEventsGroup
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: Limit data to "updated after" params.
        in: query
        name: updatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: Set the column to apply "updatedafter" filter (i.e. "origin"
          means "origin.modified"); default "all".
        in: query
        name: updatedafterincolumn
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        all clusterd events.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/events:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from the same instance
      operationId: getEvents
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: Limit data to "updated after" params.
        in: query
        name: updatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: Set the column to apply "updatedafter" filter (i.e. "origin"
          means "origin.modified"); default "all".
        in: query
        name: updatedafterincolumn
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        the same instance.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/origins:
    get:
      description: This API returns all the preferred origins
      operationId: getOrigins
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: Limit data to "updated after" params.
        in: query
        name: updatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: Set the column to apply "updatedafter" filter (i.e. "origin"
          means "origin.modified"); default "all".
        in: query
        name: updatedafterincolumn
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the preferred origins.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/magnitudes:
    get:
      description: This API returns all the origins with own preferred magnitude
      operationId: getMagnitudes
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: Limit data to "updated after" params.
        in: query
        name: updatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: Set the column to apply "updatedafter" filter (i.e. "origin"
          means "origin.modified"); default "all".
        in: query
        name: updatedafterincolumn
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all origins with own preferred magnitude.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/all:
    get:
      description: This API returns all the origins with all magnitudes; one per line
      operationId: getAll
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: Limit data to "updated after" params.
        in: query
        name: updatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: Set the column to apply "updatedafter" filter (i.e. "origin"
          means "origin.modified"); default "all".
        in: query
        name: updatedafterincolumn
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all origins with all magnitude; one per line.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/catalog-metadata:
    get:
      description: This API returns the catalog-metadata.
      operationId: getCatalogMetadata
      parameters:
      - description: Catalog name.
        in: query
        name: name
        required: false
        schema:
          format: string
          type: string
      - description: Catalog DOI.
        in: query
        name: doi
        required: false
        schema:
          format: string
          type: string
      - description: Select data by "like" operator.
        explode: true
        in: query
        name: wherenamelike
        required: false
        schema:
          format: string
          type: string
        style: form
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCatalogMetadata_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the catalog-metadata.
      tags:
      - get
      x-accepts: application/json
  /quakedb/table/v1/catalog-metadata:
    post:
      description: This API is used to add a catalog object.
      operationId: addCatalogMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addCatalogMetadata_request'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectCatalogMetadata'
          description: record inserted
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new catalog to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/catalog-metadata/{id}:
    delete:
      description: Delete an existing catalog_metadata.</br> To use this API you must
        be authenticated.
      operationId: deleteCatalogMetadata
      parameters:
      - description: INGV catalog_metadata id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing catalog_metadata
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing catalog-metadata.</br> To use this API you must
        be authenticated.
      operationId: updateCatalogMetadata
      parameters:
      - description: INGV catalog-metadata id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectCatalogMetadata'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectCatalogMetadata'
          description: record updated
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing catalog-metadata
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/v1/catalog:
    get:
      description: This API returns the catalogs.
      operationId: getCatalog
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: "Filter type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"localspace.name\" on column (see 'wherelocalspacenameincolumn'\
          \ param) by comma separated value (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Set the column to apply "wherelocalspacenamein" filter (i.e.
          "origin" means "origin.localspace.name"); default "event".
        in: query
        name: wherelocalspacenameincolumn
        required: false
        schema:
          default: event
          enum:
          - event
          - origin
          - magnitude
          type: string
      - description: "Filter flags by comma separated value (i.e. DPC,twitter,shakemap4)."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      - description: Select by event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by magnitude id.
        in: query
        name: magnitudeid
        required: false
        schema:
          format: int64
          type: integer
      - description: Catalog name.
        in: query
        name: name
        required: false
        schema:
          format: string
          type: string
      - description: Catalog DOI.
        in: query
        name: doi
        required: false
        schema:
          format: string
          type: string
      - description: Select data by "like" operator.
        explode: true
        in: query
        name: wherenamelike
        required: false
        schema:
          format: string
          type: string
        style: form
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCatalog_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the catalogs.
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add a catalog object.
      operationId: addCatalog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addCatalog_request'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addCatalog_201_response'
          description: record inserted
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new catalog to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/v1/eventsgroup:
    patch:
      description: Create a new events-group or Update an existing one.</br> To use
        this API you must be authenticated.
      operationId: updateEventsGroup
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/updateEventsGroup_request'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeEvent'
          description: record updated
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update/Create an events-group
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/type-event:
    get:
      description: This API returns all the type_event(s).
      operationId: getTypeEvent
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTypeEvent_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the type_event(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an type_event object.
      operationId: addTypeEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addTypeEvent_request'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeEvent'
          description: record inserted
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new type_event to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/type-event/{id}:
    delete:
      description: Delete an existing type_event.</br> To use this API you must be
        authenticated.
      operationId: deleteTypeEvent
      parameters:
      - description: INGV type_event id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing type_event
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing type_event.</br> To use this API you must be
        authenticated.
      operationId: updateTypeEvent
      parameters:
      - description: INGV type_event id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeEvent'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeEvent'
          description: record updated
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing type_event
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/type-origin:
    get:
      description: This API returns all the type_origin(s).
      operationId: getTypeOrigin
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTypeOrigin_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the type_origin(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an type_origin object.
      operationId: addTypeOrigin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addTypeOrigin_request'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeOrigin'
          description: record inserted
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new type_origin to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/type-origin/{id}:
    delete:
      description: Delete an existing type_origin.</br> To use this API you must be
        authenticated.
      operationId: deleteTypeOrigin
      parameters:
      - description: INGV type_origin id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
[...]
