openapi: 3.0.3
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV - Valentino Lauciani
    url: http://terremoti.ingv.it/webservices_and_software
  description: "  \n\n  # Introduction\n  Dante is an API Web Service used for iteract\
    \ with earthquake data stored in database (**quakedb**); the **quakedb** database\
    \ schema is used at INGV.\n  Use other schema would require cration of specific\
    \ `Model` and `Controller` but this is the potential of web services.  \n\n  Dante\
    \ provides a set of routes to store message **event**, **origin**, **magnitude**,\
    \ **arrival**, **...**.  \n\n  # Input\n  As input, Dante acept:\n  - A `json`\
    \ message (view '**store**' spec below) \n  - An Eartworm `json` message (view\
    \ '**earthworm api**' spec below) produced by **ew2openapi** module  \n\n  # Output\n\
    \  As output, Dante has a RESTful api foreach database table and implement three\
    \ specific routes: \n  - `events-group`: returns the preferred origin and the\
    \ preferred magnitude from all clusterd events. \n  - `events`: returns the preferred\
    \ origin and the preferred magnitude from the same instance. \n  - `event`: returns\
    \ the full event (event, origins, magnitudes, arrivals, amplitude, etc...) from\
    \ an **eventid** or **originid**/**originid**. \n  \n\n  "
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  termsOfService: https://data.ingv.it/docs/principles/
  title: Dante Web Services
  version: 3.22.2
  x-api-id: 24e1e2e6-43ad-4a84-bec7-5c6ddcf5db97
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: Web Service to receive location from Earthworm or JSON standard
  x-sandbox: true
servers:
- description: production
  url: https://caravel-dante.int.ingv.it/api
- description: development
  url: "http://{hostname}/api"
  variables:
    hostname:
      default: localhost:8585
      enum:
      - localhost:8585
      - caravel-dante.int.ingv.it:8585
  x-sandbox: true
tags:
- description: status api
  name: status
- description: Operations about user
  name: user
- description: Get data
  name: get
- description: Store data
  name: store
- description: Update data
  name: update
- description: Delete data
  name: delete
- description: Earthworm API to store data
  name: earthworm api
paths:
  /login:
    post:
      description: Logs user into the system and retrieve Bearer Token
      operationId: get_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/get_token_request'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_token_201_response'
          description: successful operation
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Logs user into the system
      tags:
      - user
      x-content-type: application/json
      x-accepts: "application/json,application/problem+json"
  /status:
    get:
      description: Return the application status
      operationId: get_status
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ObjectStatus'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Return the application status
      tags:
      - status
      x-accepts: application/problem+json
  /quakedb/v1/events-group:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from all clusterd events.
      operationId: getEventsGroup
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: "Specify a list of polygons to select data. \n\nEach poligon\
          \ is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `orpolygon=12,42,13,42,13,43,12,43,12,42|12.3,42.3,13.3,42.3,13.3,43.3,12.3,43.3,12.3,42.3`."
        in: query
        name: orpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of polygons to NOT select data within. \n\nEach\
          \ poligon is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `notinpolygon=12.5,42,12.5,43,13,48,12.5,42|12.2,41.8,13.2,41.8,13.2,42.8,12.2,42.8,12.2,41.8`"
        in: query
        name: notinpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of pre-set polygons. \n\nEach poligon is `,`\
          \ separated value.\n\n* Example: `wherepolygonnamein=area_confine_italia,area_vulcanica_italia`"
        explode: false
        in: query
        name: wherepolygonnamein
        required: false
        schema:
          items:
            enum:
            - settore_1_pol
            - settore_2_pol
            - settore_cat_pol
            - aree_vulcaniche_italia_2020
            - ov_aree_vulcani_mari
            - area_vulcanica_italia
            - area_confine_italia
            type: string
          type: array
        style: form
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum number of phases (P&S) with weight > 0.0.
        in: query
        name: minnphtot
        required: false
        schema:
          format: int32
          type: integer
      - description: Specify minimum distance from the closest station (kilometers).
        in: query
        name: mindistance
        required: false
        schema:
          format: double
          type: number
      - description: "Filter by \"event.type_event\" by comma separated value (i.e.\
          \ earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamein
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"event.type_event\" - not in - by comma separated\
          \ value (i.e. earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamenotin
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"origin.quality\" by comma separated value (i.e.\
          \ AA,AB,BC)."
        explode: false
        in: query
        name: whereoriginqualityin
        required: false
        schema:
          items:
            enum:
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: "Filter by \"magnitude.mag_quality\" by comma separated value\
          \ (i.e. A,B,BC,DD)."
        explode: false
        in: query
        name: wheremagnitudemagqualityin
        required: false
        schema:
          items:
            enum:
            - A
            - B
            - C
            - D
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Origin entity is directly linked to Event entity (`origin.fk_event=event.id`)
        in: query
        name: origindirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Origin entity (`magnitude.fk_origin=origin.id`)
        in: query
        name: magnitudedirectlinktoorigin
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Event entity `(magnitude.fk_origin=origin.id
          AND origin.fk_event=event.id`)
        in: query
        name: magnitudedirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: "Filter by type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - allowReserved: true
        description: Filter by type_magnitude.name using case-insensitive regexp (i.e.
          "^ml.\*" or "^ml.*|^mwp$").
        in: query
        name: wheretypemagnitudenameregexp
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"event.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereoriginlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereeventlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"origin.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereoriginlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"magnitude.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"whereoriginlocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: wheremagnitudelocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"event.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereoriginlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereeventlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"origin.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereoriginlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"magnitude.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"whereoriginlocalspacenamein\"."
        explode: false
        in: query
        name: wheremagnitudelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Limit data to \"event.modified\" after; if \"originupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: eventupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"origin.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: originupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"magnitude.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"originupdatedafter\" are set, the \"updatedafteroperator\" is\
          \ used."
        in: query
        name: magnitudeupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Set the \"operator\" to use when \"eventupdatedafter\", \"originupdatedafter\"\
          \ and \"magnitudeupdatedafter\" are set."
        in: query
        name: updatedafteroperator
        required: false
        schema:
          default: or
          enum:
          - and
          - or
          type: string
      - description: "Filter flags by comma separated values (i.e. DPC,twitter,shakemap4);\
          \ values are in \"OR\"."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      - description: Select by event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by magnitude id.
        in: query
        name: magnitudeid
        required: false
        schema:
          format: int64
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        all clusterd events.
      tags:
      - get
      x-accepts: "application/json,application/problem+json"
  /quakedb/v1/events:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from the same instance
      operationId: getEvents
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: "Specify a list of polygons to select data. \n\nEach poligon\
          \ is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `orpolygon=12,42,13,42,13,43,12,43,12,42|12.3,42.3,13.3,42.3,13.3,43.3,12.3,43.3,12.3,42.3`."
        in: query
        name: orpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of polygons to NOT select data within. \n\nEach\
          \ poligon is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `notinpolygon=12.5,42,12.5,43,13,48,12.5,42|12.2,41.8,13.2,41.8,13.2,42.8,12.2,42.8,12.2,41.8`"
        in: query
        name: notinpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of pre-set polygons. \n\nEach poligon is `,`\
          \ separated value.\n\n* Example: `wherepolygonnamein=area_confine_italia,area_vulcanica_italia`"
        explode: false
        in: query
        name: wherepolygonnamein
        required: false
        schema:
          items:
            enum:
            - settore_1_pol
            - settore_2_pol
            - settore_cat_pol
            - aree_vulcaniche_italia_2020
            - ov_aree_vulcani_mari
            - area_vulcanica_italia
            - area_confine_italia
            type: string
          type: array
        style: form
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum number of phases (P&S) with weight > 0.0.
        in: query
        name: minnphtot
        required: false
        schema:
          format: int32
          type: integer
      - description: Specify minimum distance from the closest station (kilometers).
        in: query
        name: mindistance
        required: false
        schema:
          format: double
          type: number
      - description: "Filter by \"event.type_event\" by comma separated value (i.e.\
          \ earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamein
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"event.type_event\" - not in - by comma separated\
          \ value (i.e. earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamenotin
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"origin.quality\" by comma separated value (i.e.\
          \ AA,AB,BC)."
        explode: false
        in: query
        name: whereoriginqualityin
        required: false
        schema:
          items:
            enum:
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: "Filter by \"magnitude.mag_quality\" by comma separated value\
          \ (i.e. A,B,BC,DD)."
        explode: false
        in: query
        name: wheremagnitudemagqualityin
        required: false
        schema:
          items:
            enum:
            - A
            - B
            - C
            - D
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Origin entity is directly linked to Event entity (`origin.fk_event=event.id`)
        in: query
        name: origindirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Origin entity (`magnitude.fk_origin=origin.id`)
        in: query
        name: magnitudedirectlinktoorigin
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Event entity `(magnitude.fk_origin=origin.id
          AND origin.fk_event=event.id`)
        in: query
        name: magnitudedirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: "Filter by type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - allowReserved: true
        description: Filter by type_magnitude.name using case-insensitive regexp (i.e.
          "^ml.\*" or "^ml.*|^mwp$").
        in: query
        name: wheretypemagnitudenameregexp
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"event.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereoriginlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereeventlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"origin.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereoriginlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"magnitude.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"whereoriginlocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: wheremagnitudelocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"event.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereoriginlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereeventlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"origin.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereoriginlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"magnitude.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"whereoriginlocalspacenamein\"."
        explode: false
        in: query
        name: wheremagnitudelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Limit data to \"event.modified\" after; if \"originupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: eventupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"origin.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: originupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"magnitude.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"originupdatedafter\" are set, the \"updatedafteroperator\" is\
          \ used."
        in: query
        name: magnitudeupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Set the \"operator\" to use when \"eventupdatedafter\", \"originupdatedafter\"\
          \ and \"magnitudeupdatedafter\" are set."
        in: query
        name: updatedafteroperator
        required: false
        schema:
          default: or
          enum:
          - and
          - or
          type: string
      - description: "Filter flags by comma separated values (i.e. DPC,twitter,shakemap4);\
          \ values are in \"OR\"."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      - description: Select by event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by magnitude id.
        in: query
        name: magnitudeid
        required: false
        schema:
          format: int64
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        the same instance.
      tags:
      - get
      x-accepts: "application/json,application/problem+json"
  /quakedb/v1/origins:
    get:
      description: This API returns all the preferred origins
      operationId: getOrigins
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: "Specify a list of polygons to select data. \n\nEach poligon\
          \ is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `orpolygon=12,42,13,42,13,43,12,43,12,42|12.3,42.3,13.3,42.3,13.3,43.3,12.3,43.3,12.3,42.3`."
        in: query
        name: orpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of polygons to NOT select data within. \n\nEach\
          \ poligon is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `notinpolygon=12.5,42,12.5,43,13,48,12.5,42|12.2,41.8,13.2,41.8,13.2,42.8,12.2,42.8,12.2,41.8`"
        in: query
        name: notinpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of pre-set polygons. \n\nEach poligon is `,`\
          \ separated value.\n\n* Example: `wherepolygonnamein=area_confine_italia,area_vulcanica_italia`"
        explode: false
        in: query
        name: wherepolygonnamein
        required: false
        schema:
          items:
            enum:
            - settore_1_pol
            - settore_2_pol
            - settore_cat_pol
            - aree_vulcaniche_italia_2020
            - ov_aree_vulcani_mari
            - area_vulcanica_italia
            - area_confine_italia
            type: string
          type: array
        style: form
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum number of phases (P&S) with weight > 0.0.
        in: query
        name: minnphtot
        required: false
        schema:
          format: int32
          type: integer
      - description: Specify minimum distance from the closest station (kilometers).
        in: query
        name: mindistance
        required: false
        schema:
          format: double
          type: number
      - description: "Filter by \"event.type_event\" by comma separated value (i.e.\
          \ earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamein
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"event.type_event\" - not in - by comma separated\
          \ value (i.e. earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamenotin
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"origin.quality\" by comma separated value (i.e.\
          \ AA,AB,BC)."
        explode: false
        in: query
        name: whereoriginqualityin
        required: false
        schema:
          items:
            enum:
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: "Filter by \"magnitude.mag_quality\" by comma separated value\
          \ (i.e. A,B,BC,DD)."
        explode: false
        in: query
        name: wheremagnitudemagqualityin
        required: false
        schema:
          items:
            enum:
            - A
            - B
            - C
            - D
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Origin entity is directly linked to Event entity (`origin.fk_event=event.id`)
        in: query
        name: origindirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Origin entity (`magnitude.fk_origin=origin.id`)
        in: query
        name: magnitudedirectlinktoorigin
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Event entity `(magnitude.fk_origin=origin.id
          AND origin.fk_event=event.id`)
        in: query
        name: magnitudedirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: "Filter by type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - allowReserved: true
        description: Filter by type_magnitude.name using case-insensitive regexp (i.e.
          "^ml.\*" or "^ml.*|^mwp$").
        in: query
        name: wheretypemagnitudenameregexp
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"event.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereoriginlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereeventlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"origin.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereoriginlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"magnitude.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"whereoriginlocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: wheremagnitudelocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"event.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereoriginlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereeventlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"origin.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereoriginlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"magnitude.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"whereoriginlocalspacenamein\"."
        explode: false
        in: query
        name: wheremagnitudelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Limit data to \"event.modified\" after; if \"originupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: eventupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"origin.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: originupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"magnitude.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"originupdatedafter\" are set, the \"updatedafteroperator\" is\
          \ used."
        in: query
        name: magnitudeupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Set the \"operator\" to use when \"eventupdatedafter\", \"originupdatedafter\"\
          \ and \"magnitudeupdatedafter\" are set."
        in: query
        name: updatedafteroperator
        required: false
        schema:
          default: or
          enum:
          - and
          - or
          type: string
      - description: "Filter flags by comma separated values (i.e. DPC,twitter,shakemap4);\
          \ values are in \"OR\"."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      - description: Select by event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by magnitude id.
        in: query
        name: magnitudeid
        required: false
        schema:
          format: int64
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the preferred origins.
      tags:
      - get
      x-accepts: "application/json,application/problem+json"
  /quakedb/v1/magnitudes:
    get:
      description: This API returns all the origins with own preferred magnitude
      operationId: getMagnitudes
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: "Specify a list of polygons to select data. \n\nEach poligon\
          \ is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `orpolygon=12,42,13,42,13,43,12,43,12,42|12.3,42.3,13.3,42.3,13.3,43.3,12.3,43.3,12.3,42.3`."
        in: query
        name: orpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of polygons to NOT select data within. \n\nEach\
          \ poligon is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `notinpolygon=12.5,42,12.5,43,13,48,12.5,42|12.2,41.8,13.2,41.8,13.2,42.8,12.2,42.8,12.2,41.8`"
        in: query
        name: notinpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of pre-set polygons. \n\nEach poligon is `,`\
          \ separated value.\n\n* Example: `wherepolygonnamein=area_confine_italia,area_vulcanica_italia`"
        explode: false
        in: query
        name: wherepolygonnamein
        required: false
        schema:
          items:
            enum:
            - settore_1_pol
            - settore_2_pol
            - settore_cat_pol
            - aree_vulcaniche_italia_2020
            - ov_aree_vulcani_mari
            - area_vulcanica_italia
            - area_confine_italia
            type: string
          type: array
        style: form
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum number of phases (P&S) with weight > 0.0.
        in: query
        name: minnphtot
        required: false
        schema:
          format: int32
          type: integer
      - description: Specify minimum distance from the closest station (kilometers).
        in: query
        name: mindistance
        required: false
        schema:
          format: double
          type: number
      - description: "Filter by \"event.type_event\" by comma separated value (i.e.\
          \ earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamein
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"event.type_event\" - not in - by comma separated\
          \ value (i.e. earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamenotin
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"origin.quality\" by comma separated value (i.e.\
          \ AA,AB,BC)."
        explode: false
        in: query
        name: whereoriginqualityin
        required: false
        schema:
          items:
            enum:
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: "Filter by \"magnitude.mag_quality\" by comma separated value\
          \ (i.e. A,B,BC,DD)."
        explode: false
        in: query
        name: wheremagnitudemagqualityin
        required: false
        schema:
          items:
            enum:
            - A
            - B
            - C
            - D
            - AA
            - AB
            - AC
            - AD
            - BA
            - BB
            - BC
            - BD
            - CA
            - CB
            - CC
            - CD
            - DA
            - DB
            - DC
            - DD
            type: string
          type: array
      - description: Filter the output to type_origin.version_value (i.e. 0).
        in: query
        name: mintypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Filter the output to type_origin.version_value (i.e. 1000).
        in: query
        name: maxtypeoriginvalue
        required: false
        schema:
          $ref: '#/components/schemas/type_origin__version_value'
      - description: Origin entity is directly linked to Event entity (`origin.fk_event=event.id`)
        in: query
        name: origindirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Origin entity (`magnitude.fk_origin=origin.id`)
        in: query
        name: magnitudedirectlinktoorigin
        required: false
        schema:
          default: false
          type: boolean
      - description: Magnitude entity is directly linked to Event entity `(magnitude.fk_origin=origin.id
          AND origin.fk_event=event.id`)
        in: query
        name: magnitudedirectlinktoevent
        required: false
        schema:
          default: false
          type: boolean
      - description: "Filter by type_origin.version_value (i.e. 0,1,200)."
        in: query
        name: wheretypeoriginvaluein
        required: false
        schema:
          format: string
          type: string
      - allowReserved: true
        description: Filter by type_magnitude.name using case-insensitive regexp (i.e.
          "^ml.\*" or "^ml.*|^mwp$").
        in: query
        name: wheretypemagnitudenameregexp
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"event.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereoriginlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereeventlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"origin.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"wheremagnitudelocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: whereoriginlocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"magnitude.localspace.environment\" by comma separated\
          \ value (i.e. development,staging); this parameter is in \"OR\" with \"\
          whereeventlocalspaceenvironmentin\" and \"whereoriginlocalspaceenvironmentin\"\
          ."
        explode: false
        in: query
        name: wheremagnitudelocalspaceenvironmentin
        required: false
        schema:
          items:
            enum:
            - development
            - testing
            - staging
            - production
            - external
            - catalog
            - generic
            type: string
          type: array
      - description: "Filter by \"event.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereoriginlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereeventlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"origin.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"wheremagnitudelocalspacenamein\"."
        explode: false
        in: query
        name: whereoriginlocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Filter by \"magnitude.localspace.name\" by comma separated value\
          \ (i.e. hew10_mole,hew20_mole); this parameter is in \"OR\" with \"whereeventlocalspacenamein\"\
          \ and \"whereoriginlocalspacenamein\"."
        explode: false
        in: query
        name: wheremagnitudelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: "Limit data to \"event.modified\" after; if \"originupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: eventupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"origin.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"magnitudeupdatedafter\" are set, the \"updatedafteroperator\"\
          \ is used."
        in: query
        name: originupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Limit data to \"magnitude.modified\" after; if \"eventupdatedafter\"\
          \ and/or \"originupdatedafter\" are set, the \"updatedafteroperator\" is\
          \ used."
        in: query
        name: magnitudeupdatedafter
        required: false
        schema:
          format: date-time
          type: string
      - description: "Set the \"operator\" to use when \"eventupdatedafter\", \"originupdatedafter\"\
          \ and \"magnitudeupdatedafter\" are set."
        in: query
        name: updatedafteroperator
        required: false
        schema:
          default: or
          enum:
          - and
          - or
          type: string
      - description: "Filter flags by comma separated values (i.e. DPC,twitter,shakemap4);\
          \ values are in \"OR\"."
        in: query
        name: whereflagsin
        required: false
        schema:
          format: string
          type: string
      - description: "Select \"order by\"; multiple \"order\" contatenation available\
          \ (i.e. event_id-desc,type_origin_version_value-asc)"
        in: query
        name: orderby
        required: false
        schema:
          format: string
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: Limit the results to the specified number of records.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: Pagination.
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
      - description: Select by event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select by magnitude id.
        in: query
        name: magnitudeid
        required: false
        schema:
          format: int64
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEventsGroup_200_response'
          description: Operation successful
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all origins with own preferred magnitude.
      tags:
      - get
      x-accepts: "application/json,application/problem+json"
  /quakedb/v1/all:
    get:
      description: This API returns all the origins with all magnitudes; one per line
      operationId: getAll
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: "Specify a list of polygons to select data. \n\nEach poligon\
          \ is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `orpolygon=12,42,13,42,13,43,12,43,12,42|12.3,42.3,13.3,42.3,13.3,43.3,12.3,43.3,12.3,42.3`."
        in: query
        name: orpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of polygons to NOT select data within. \n\nEach\
          \ poligon is `|` separated values, with counterclockwise values like `<lon>,<lat>`\
          \ and last couple must be like the first one.\n\n* Example: `notinpolygon=12.5,42,12.5,43,13,48,12.5,42|12.2,41.8,13.2,41.8,13.2,42.8,12.2,42.8,12.2,41.8`"
        in: query
        name: notinpolygon
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: "Specify a list of pre-set polygons. \n\nEach poligon is `,`\
          \ separated value.\n\n* Example: `wherepolygonnamein=area_confine_italia,area_vulcanica_italia`"
        explode: false
        in: query
        name: wherepolygonnamein
        required: false
        schema:
          items:
            enum:
            - settore_1_pol
            - settore_2_pol
            - settore_cat_pol
            - aree_vulcaniche_italia_2020
            - ov_aree_vulcani_mari
            - area_vulcanica_italia
            - area_confine_italia
            type: string
          type: array
        style: form
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers.
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum number of phases (P&S) with weight > 0.0.
        in: query
        name: minnphtot
        required: false
        schema:
          format: int32
          type: integer
      - description: Specify minimum distance from the closest station (kilometers).
        in: query
        name: mindistance
        required: false
        schema:
          format: double
          type: number
      - description: "Filter by \"event.type_event\" by comma separated value (i.e.\
          \ earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamein
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
            - industrial explosion
            - mining explosion
            - quarry blast
            - road cut
            - blasting levee
            - nuclear explosion
            - induced or triggered event
            - rock burst
            - reservoir loading
            - fluid injection
            - fluid extraction
            - crash
            - plane crash
            - train crash
            - boat crash
            - other event
            - atmospheric event
            - sonic boom
            - sonic blast
            - acoustic noise
            - thunder
            - avalanche
            - snow avalanche
            - debris avalanche
            - hydroacoustic event
            - ice quake
            - slide
            - landslide
            - rockslide
            - meteorite
            - volcanic eruption
            - not existing
            - testing
            - duplicate earthquake
            type: string
          type: array
      - description: "Filter by \"event.type_event\" - not in - by comma separated\
          \ value (i.e. earthquake,not reported,collapse,explosion)."
        explode: false
        in: query
        name: wheretypeeventnamenotin
        required: false
        schema:
          items:
            enum:
            - earthquake
            - not reported
            - anthropogenic event
            - collapse
            - cavity collapse
            - mine collapse
            - building collapse
            - explosion
            - accidental explosion
            - chemical explosion
            - controlled explosion
            - experimental explosion
[...]
