openapi: 3.0.3
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV - Valentino Lauciani
    url: http://terremoti.ingv.it/webservices_and_software
  description: "  \n\n  # Introduction\n  Dante is an API Web Service used for iteract\
    \ with earthquake data stored in database (**quakedb**); the **quakedb** database\
    \ schema is used at INGV.\n  Use other schema would require cration of specific\
    \ `Model` and `Controller` but this is the potential of web services.  \n\n  Dante\
    \ provides a set of routes to store message **event**, **origin**, **magnitude**,\
    \ **arrival**, **...**.  \n\n  # Input\n  As input, Dante acept:\n  - A `json`\
    \ message (view '**store**' spec below) \n  - An Eartworm `json` message (view\
    \ '**earthworm api**' spec below) produced by **ew2openapi** module  \n\n  # Output\n\
    \  As output, Dante has a RESTful api foreach database table and implement three\
    \ specific routes: \n  - `events-pref`: returns the preferred origin and the preferred\
    \ magnitude from all clusterd events. \n  - `events`: returns the preferred origin\
    \ and the preferred magnitude from the same instance. \n  - `event`: returns the\
    \ full event (event, origins, magnitudes, arrivals, amplitude, etc...) from an\
    \ **eventid** or **originid**/**originid**. \n  \n\n  "
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  termsOfService: http://terremoti.ingv.it/webservices_and_software
  title: Dante Web Services
  version: 2.45.0
  x-api-id: 24e1e2e6-43ad-4a84-bec7-5c6ddcf5db97
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: Web Service to receive location from Earthworm or JSON standard
  x-sandbox: true
servers:
- description: production
  url: http://caravel.int.ingv.it/api
  x-sandbox: true
- description: development
  url: "http://{hostname}/api"
  variables:
    hostname:
      default: localhost:8087
      enum:
      - localhost:8087
      - caravel.int.ingv.it:8585
  x-sandbox: true
tags:
- description: Operations about user
  name: user
- description: Get data
  name: get
- description: Store data
  name: store
- description: Update data
  name: update
- description: Earthworm API to store data
  name: earthworm api
paths:
  /login:
    post:
      description: Logs user into the system and retrieve Bearer Token
      operationId: get_token
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  format: email
                  type: string
                password:
                  type: string
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                properties:
                  user:
                    properties:
                      id:
                        example: "1"
                        type: string
                      name:
                        example: Mario Rossi
                        type: string
                      email:
                        example: mario.rossi@example.com
                        type: string
                  token:
                    example: 1|JuAyMVmCoEPb5OPf2ENnt2rFIRsYsCoHcAlekZX
                    type: string
                  token_type:
                    example: Bearer
                    type: string
          description: successful operation
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Logs user into the system
      tags:
      - user
      x-content-type: application/json
      x-accepts: application/json
  /status:
    get:
      description: Return the application status
      operationId: get_status
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ObjectStatus'
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
      summary: Return the application status
      tags:
      - get
      x-accepts: application/problem+json
  /quakedb/v1/events-pref:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from all clusterd events.
      operationId: getEventsPref
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Select order
        in: query
        name: orderby
        required: false
        schema:
          enum:
          - event_id-asc
          - event_id-desc
          - origin_ot-asc
          - origin_ot-desc
          - magnitude_mag-asc
          - magnitude_mag-desc
          type: string
      - description: Limit the results to the specified number of events.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        all clusterd events.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/events:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from the same instance
      operationId: getEvents
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Select order
        in: query
        name: orderby
        required: false
        schema:
          enum:
          - event_id-asc
          - event_id-desc
          - origin_ot-asc
          - origin_ot-desc
          - magnitude_mag-asc
          - magnitude_mag-desc
          type: string
      - description: Select events with same event_group_id.
        in: query
        name: event_group_id
        required: false
        schema:
          format: int64
          type: integer
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: "Filter localspace.name by regex (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Limit the results to the specified number of events.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        the same instance.
      tags:
      - get
      x-accepts: application/json
  /quakedb/v1/origins:
    get:
      description: This API returns all the origins and the magnitudes
      operationId: getOrigins
      parameters:
      - description: Select date start (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: starttime
        required: false
        schema:
          format: date-time
          type: string
      - description: Select date end (i.e. 2016-06-22T16:52:06.260Z).
        in: query
        name: endtime
        required: false
        schema:
          format: date-time
          type: string
      - description: Specify southern boundary for search in WGS84 (i.e. 39.12).
        in: query
        name: minlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify northern boundary for search in WGS84 (i.e. 46.52).
        in: query
        name: maxlat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify western boundary for search in WGS84 (i.e. 10.12).
        in: query
        name: minlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify eastern boundary for search (in WGS84) (i.e. 15.12).
        in: query
        name: maxlon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify the central latitude point for a radial search in WGS84
          (i.e. 42).
        in: query
        name: lat
        required: false
        schema:
          $ref: '#/components/schemas/latitude'
      - description: Specify the central longitude point for a radial search in WGS84
          (i.e. 12).
        in: query
        name: lon
        required: false
        schema:
          $ref: '#/components/schemas/longitude'
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 1.5).
        in: query
        name: minradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude in Degrees (i.e. 5).
        in: query
        name: maxradius
        required: false
        schema:
          format: double
          type: number
      - description: Specify minimum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: minradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Specify maximum distance from the geographic point defined by
          latitude and longitude. Kilometers. **This is an INGV extension to the FDSN
          specification.**
        in: query
        name: maxradiuskm
        required: false
        schema:
          format: double
          type: number
      - description: Limit to events with a magnitude larger than or equal to the
          specified minimum (i.e. 1.5).
        in: query
        name: minmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: Limit to events with a magnitude smaller than or equal to the
          specified maximum (i.e. 7.3).
        in: query
        name: maxmag
        required: false
        schema:
          $ref: '#/components/schemas/magnitude'
      - description: "Specify minimum depth (kilometers), values increase positively\
          \ with depth (i.e. 0)."
        in: query
        name: mindepth
        required: false
        schema:
          format: double
          type: number
      - description: "Specify maximum depth (kilometers), values increase positively\
          \ with depth (i.e. 50)."
        in: query
        name: maxdepth
        required: false
        schema:
          format: double
          type: number
      - description: Select order
        in: query
        name: orderby
        required: false
        schema:
          enum:
          - event_id-asc
          - event_id-desc
          - origin_ot-asc
          - origin_ot-desc
          - magnitude_mag-asc
          - magnitude_mag-desc
          type: string
      - description: Localspace Id.
        in: query
        name: id_localspace
        required: false
        schema:
          format: int64
          type: integer
      - description: "Filter localspace.name by regex (i.e. hew10_mole,hew20_mole)."
        in: query
        name: wherelocalspacenamein
        required: false
        schema:
          format: string
          type: string
      - description: Limit the results to the specified number of events.
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all origins and magnitudes.
      tags:
      - get
      x-accepts: application/json
  /quakedb/table/v1/type-event:
    get:
      description: This API returns all the type_event(s).
      operationId: getTypeEvent
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MetaDefinition'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ObjectTableTypeEvent'
                      type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the type_event(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an type_event object.
      operationId: addTypeEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeEvent'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeEvent'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new type_event to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/type-event/{id}:
    delete:
      description: Delete an existing type_event.</br> To use this API you must be
        authenticated.
      operationId: deleteTypeEvent
      parameters:
      - description: INGV type_event id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing type_event
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing type_event.</br> To use this API you must be
        authenticated.
      operationId: updateTypeEvent
      parameters:
      - description: INGV type_event id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeEvent'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeEvent'
          description: record updated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing type_event
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/type-origin:
    get:
      description: This API returns all the type_origin(s).
      operationId: getTypeOrigin
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MetaDefinition'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ObjectTableTypeOrigin'
                      type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the type_origin(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an type_origin object.
      operationId: addTypeOrigin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeOrigin'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeOrigin'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new type_origin to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/type-origin/{id}:
    delete:
      description: Delete an existing type_origin.</br> To use this API you must be
        authenticated.
      operationId: deleteTypeOrigin
      parameters:
      - description: INGV type_origin id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing type_origin
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing type_origin.</br> To use this API you must be
        authenticated.
      operationId: updateTypeOrigin
      parameters:
      - description: INGV type_origin id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeOrigin'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeOrigin'
          description: record updated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing type_origin
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/type-magnitude:
    get:
      description: This API returns all the type_magnitude(s).
      operationId: getTypeMagnitude
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MetaDefinition'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ObjectTableTypeMagnitude'
                      type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the type_magnitude(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an type_magnitude object.
      operationId: addTypeMagnitude
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeMagnitude'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeMagnitude'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new type_magnitude to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/type-magnitude/{id}:
    delete:
      description: Delete an existing type_magnitude.</br> To use this API you must
        be authenticated.
      operationId: deleteTypeMagnitude
      parameters:
      - description: INGV type_magnitude id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing type_magnitude
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing type_magnitude.</br> To use this API you must
        be authenticated.
      operationId: updateTypeMagnitude
      parameters:
      - description: INGV type_magnitude id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableTypeMagnitude'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableTypeMagnitude'
          description: record updated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing type_magnitude
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/localspace:
    get:
      description: This API returns all the localspace(s).
      operationId: getLocalspace
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MetaDefinition'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ObjectTableLocalspace'
                      type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the localspace(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an localspace object.
      operationId: addLocalspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTableLocalspace'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableLocalspace'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new localspace to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/localspace/{id}:
    delete:
      description: Delete an existing localspace.</br> To use this API you must be
        authenticated.
      operationId: deleteLocalspace
      parameters:
      - description: INGV localspace id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing localspace
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing localspace.</br> To use this API you must be
        authenticated.
      operationId: updateLocalspace
      parameters:
      - description: INGV localspace id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableLocalspace'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableLocalspace'
          description: record updated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing localspace
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/table/v1/provenance:
    get:
      description: This API returns all the provenance(s).
      operationId: getProvenance
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/MetaDefinition'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ObjectTableProvenance'
                      type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns all the provenance(s).
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an provenance object.
      operationId: addProvenance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectTableProvenance'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableProvenance'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new provenance to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/table/v1/provenance/{id}:
    delete:
      description: Delete an existing provenance.</br> To use this API you must be
        authenticated.
      operationId: deleteProvenance
      parameters:
      - description: INGV provenance id that need to be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "204":
          description: record deleted
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Delete an existing provenance
      tags:
      - delete
      x-accepts: application/problem+json
    patch:
      description: Update an existing provenance.</br> To use this API you must be
        authenticated.
      operationId: updateProvenance
      parameters:
      - description: INGV provenance id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ObjectTableProvenance'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectTableProvenance'
          description: record updated
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Forbidden
      security:
      - BearerAuth:
        - write
      summary: Update an existing provenance
      tags:
      - update
      x-content-type: application/merge-patch+json
      x-accepts: application/json
  /quakedb/v1/event:
    get:
      description: This API returns the preferred origin and the preferred magnitude
        from all clusterd events.
      operationId: getEvent
      parameters:
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      - description: Retrieve an event based on the unique INGV event id.
        in: query
        name: eventid
        required: false
        schema:
          format: int64
          type: integer
      - description: Select deep level
        in: query
        name: level
        required: false
        schema:
          default: all
          enum:
          - event
          - origin
          - magnitude
          - all
          type: string
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      event:
                        $ref: '#/components/schemas/ObjectEvent'
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the preferred origin and the preferred magnitude from
        all clusterd events.
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add an event object.
      operationId: addEvent
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    event:
                      $ref: '#/components/schemas/ObjectEvent'
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      event:
                        properties:
                          id:
                            $ref: '#/components/schemas/id'
                          id_localspace:
                            $ref: '#/components/schemas/id_localspace'
                          localspace:
                            properties:
                              name:
                                $ref: '#/components/schemas/localspace__name'
                          origins:
                            items:
                              allOf:
                              - properties:
                                  id:
                                    $ref: '#/components/schemas/id'
                                  id_localspace:
                                    $ref: '#/components/schemas/id_localspace'
                                  localspace:
                                    properties:
                                      name:
                                        $ref: '#/components/schemas/localspace__name'
                              - $ref: '#/components/schemas/ObjectMagnitudePostOutput'
                              - $ref: '#/components/schemas/ObjectFocalmechanismPostOutput'
                            type: array
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add a new event to the DB
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/v1/origin-flag:
    get:
      description: This API returns the all the flags assosiated to the originid.
      operationId: getOriginFlag
      parameters:
      - description: Select by origin id.
        in: query
        name: originid
        required: false
        schema:
          format: int64
          type: integer
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ObjectOriginFlag'
                    type: array
          description: Operation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: This API returns the all the flags assosiated to the originid.
      tags:
      - get
      x-accepts: application/json
    post:
      description: This API is used to add one or more flags to origin.
      operationId: addOriginFlag
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  properties:
                    originid:
                      $ref: '#/components/schemas/id'
                    origin-flag:
                      items:
                        $ref: '#/components/schemas/ObjectOriginFlag'
                      type: array
        description: JSON to store
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "503":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Service Unavailable
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Internal Server Error
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unexpected error
        "201":
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ObjectOriginFlagPostOutput'
          description: record inserted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
      summary: Add one or more flags to origin
      tags:
      - store
      x-content-type: application/json
      x-accepts: application/json
  /quakedb/v1/origin-flag/{id}:
    patch:
      description: Update an existing origin-flag.</br> To use this API you must be
        authenticated and "origin.localspace_name" owner.
      operationId: updateOriginFlag
      parameters:
      - description: INGV origin-flag id that need to be updated.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            schema:
              properties:
                data:
                  properties:
                    origin-flag:
                      $ref: '#/components/schemas/ObjectOriginFlag'
        description: JSON to update
        required: true
      responses:
        "400":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Bad Request
        "422":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Unprocessable Entity
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
          description: Too many requests
          headers:
            Retry-After:
              $ref: '#/components/headers/Retry-After'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
[...]
